#cta-container{
    background-image:url(https://png.pngtree.com/thumb_back/fh260/background/20191014/pngtree-watercolor-black-white-brush-background-image_319313.jpg);
    background-position: center;
    background-size: contain;

    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.cta-two form div{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 10px;
    color: black;
}

.cta-two form{
    width:100%;
    padding: 2px;
}

.cta-one{
    
    width: 50%;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.cta-two{
    background-color: rgba(255, 255, 255, 0.829);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-style: solid;
    border-color: black;
    width: 40%;
}

:-ms-input-placeholder{
    color: black;
}

.cta-header h2{
    background-color: black;
    color: white;
    margin: 0;
    text-align: center;
}