nav .logo-name{
    width: 30%;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    margin-bottom: 0; 
    color:white;
}
.logo-name img{
    width: fit-content;
    height: 100%;
}
.logo-name h3{
    margin-bottom: 0;
}

a{
    margin: auto;
}

nav{
    justify-content: space-between;
    background-color: black;
    padding:5px;
    height: 10vh;
}

.buttons{
    display: flex;
    justify-content: space-around;
    gap: 5px;
}

.booking-btn{
    border-style: solid;
    border-color: white;
    border-width: 2px;
    color: white;
    background-image: linear-gradient(white,black)
}

.buttons button{
    border: none;
}

Button{
    color: white;
}